node_modules
dist
.env
.env.local
*.log
.DS_Store

# Backend
backend/dist
backend/node_modules
backend/.env

# Frontend
frontend/dist
frontend/node_modules
frontend/.env
frontend/.env.local

# IDEs
.vscode
.idea
*.swp
*.swo
